page {
  background: #f7f7f7;
}
text{
  font-family: 微软雅黑;
}
.img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  display: block;
  margin: 80px 0 0 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 40px rgba(0,0,0,.03);
}

.info {
  text-align: center;
  margin: 25px 0 0 0;
  padding: 0 40px;
  color: #aaa;
}
.info a {
  text-align: center;
  text-decoration: solid;
  color: #abcdef;
}

.motto {
  padding: 0 20px;
  margin-top: 60px;
  text-align: center;
  color: #aaa;
  display: block;
}
.businessInfo{
  font-family: 微软雅黑;
  font-size: 11pt;
}
.title{
  font-size: 14pt;
  text-align: center;
}
.bottom{
  padding-left: 0px;
}
.weui-flex {
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.weui-flex__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.placeholder{
  margin: 5px;
  padding: 0 10px;
  text-align: center;
  background-color: #EBEBEB;
  height: 2.3em;
  line-height: 2.3em;
  color: #cfcfcf;
}